div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background: yellow;
  height: 180px;
  font-style: normal;
  padding-top: 20px;
  font-family: Arial, serif;
}
