div {
  display: flex;
  flex-direction: column;
  justify-content: space-around  !important;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background: lightblue;
  height: 500px;
  font-style: normal;
  font-family: Arial, serif;
}

div #block1 {
  background-color: lightsalmon;
  width: 400px;
  height: 200px;
}

div #block2 {
  background-color: lightpink;
  height: 200px;
  width: 400px;
}

div #block3 {
  background-color: lightgreen;
  width: 400px;
  height: 200px;
}


button {
  padding: 4px;
}

span {
  padding: 4px;
  width: 300px;
}
