div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background: lightgray;
  height: 140px;
  font-style: normal;
  padding-top: 20px;
  font-family: Arial, serif;
}
