<<div>
  <h1>Introduction to Subjects</h1>
  <div id="row1">
    <button (click)="executeSimple()">Execute Behavior Subject</button><button (click)="clear()">Clear Arrays</button>
  </div>
  <div id="block1">
    <span><b>Subscriber A :</b></span>
    <span *ngFor="let item of subscriberAArray; let i = index"> {{ subscriberAArray[i] }} </span>
  </div>
  <div id="block2">
    <span><b>Subscriber B :</b></span>
    <span *ngFor="let item of subscriberBArray; let i = index"> {{ subscriberBArray[i] }} </span>
  </div>
  <br><br>
</div>

  <app-subject></app-subject>
  <app-multicasted></app-multicasted>
 <app-behaviors></app-behaviors>
 <app-replay></app-replay>
 <app-async></app-async>


<!--The content below is only a placeholder and can be replaced.-->




