div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background: plum;
  height: 70px;
  font-style: normal;
  font-family: Arial;
}
